<footer>
    <div class="footer-row">
        <a href="https://blog.ycombinator.com/early-deadline-for-yc-winter-2022/">
            Apply early for the YC Winter 2022 batch
        </a>
    </div>
    <div class="footer-row">
        <span class="links">
            <a href="https://github.com/HackerNews/API" target="_blank">API</a>
            | <a href="http://www.ycombinator.com/legal/" target="_blank">Legal</a>
            | <a href="http://www.ycombinator.com/apply/" target="_blank">Apply to YC</a>
            | <a href="mailto:hn@ycombinator.com">Contact</a></span>
    </div>
</footer>